@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/space-grotesk";
@import "./generated-theme.css";

@source "../components";
@source "../theme";
@source "../icons";
@source "../../../../apps/studio/src";
@source "../../../../apps/player/src";

@custom-variant dark (&:is([data-theme-mode="dark"] *));

@theme inline {
  --font-sans: "Space Grotesk Variable", ui-sans-serif, system-ui, sans-serif;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1.5rem;
}

:root {
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}
